#!/usr/bin/env node
const importLocal = require('import-local');
import { {{camelCaseName}} } from './api'


if (importLocal(__filename)) {
  console.log('Using local version of this package');
} else {
  {{camelCaseName}}().catch(e => {
    console.error(e)
    process.exit(1)
  })
}
